header {
  z-index: 20;
  position: fixed;
  width: 100%;
  background-color: #060606;
  display: grid;
  right: 1vw;
  grid-template-columns: 16vw 1fr 15vw;
  grid-template-rows: 55px;
  align-items: center;
}
header a {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  height: 45px;
  color: #898989;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  padding-right: 80px;
  border-radius: 5px;
  transition: background-color 0.3s linear, color 0.3s linear;
}
header a:hover {
  background-color: #111111;
  color: #898989;
}

.navigation {
  grid-area: 1/2/2/3;
  margin-left: 5px;
  display: flex;
  gap: 5px;
}
.navigation .search {
  padding-right: 300px;
}

.home:hover img {
  content: url("/assets/icons/header/hovers/home.png");
}

.discover:hover img {
  content: url("/assets/icons/header/hovers/discover.png");
}

.search:hover img {
  content: url("/assets/icons/header/hovers/search.png");
}

.home.selected {
  color: #e0e0e0;
  background-color: #111111;
}
.home.selected img {
  content: url("/assets/icons/header/selected/home.png");
}

.discover.selected {
  color: #e0e0e0;
  background-color: #111111;
}
.discover.selected img {
  content: url("/assets/icons/header/selected/discover.png");
}

.search.selected {
  color: #e0e0e0;
  background-color: #111111;
}
.search.selected img {
  content: url("/assets/icons/header/selected/search.png");
}

.top-buttons {
  grid-area: 1/3/2/4;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.top-buttons li img {
  transition: filter 0.3s linear;
}
.top-buttons li:hover img {
  filter: brightness(1.5);
}
.top-buttons .friends a {
  padding: 0 0;
}
.top-buttons .friends:hover img {
  content: url("/assets/icons/header/selected/friends.png");
}
.top-buttons .friends:hover a {
  background-color: #060606;
}

.home-active {
  background-color: #111111;
  color: #898989;
}

@media (max-width: 500px) {
  header {
    display: none;
  }
}
.sidebar {
  background-color: #060606;
  width: 15vw;
  height: 100vh;
  position: fixed;
  z-index: 30;
}
.sidebar li {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.sidebar li img {
  transition: filter 0.3s linear;
}
.sidebar li:hover a {
  color: #e0e0e0;
}
.sidebar li:hover img {
  filter: brightness(1.5);
}
.sidebar li .arrow-icon {
  justify-self: end;
}
.sidebar li a {
  transition: color 0.3s linear;
  width: calc(15vw - 10px);
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #898989;
}

.sidebar-wrapper {
  height: 98vh;
  border-radius: 5px;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: background-color 0.3s linear;
}

.sidebar-wrapper:hover .library img {
  content: url("/assets/icons/header/hovers/library.png");
}
.sidebar-wrapper:hover {
  background-color: #111111;
}

@media (max-width: 500px) {
  aside {
    display: none;
  }
}
main {
  height: 100vh;
  width: 85vw;
  margin-left: 15vw;
  padding-top: 55px;
  background-color: #060606;
  overflow-x: hidden;
}

.main-wrapper {
  width: 99.5%;
  margin: 0 auto;
  border-radius: 5px;
  border: 3px solid #111111;
  margin-bottom: 100px;
}

.menu-buttons {
  padding: 20px 20px;
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.menu-buttons ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.menu-buttons a {
  color: #e0e0e0;
  padding: 8px 15px;
  border-radius: 8px;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.menu-buttons a:hover {
  background-color: #e0e0e0;
  color: #111111;
}
.menu-buttons img {
  margin-left: auto;
}

.list-title {
  color: #e0e0e0;
  font-size: 20px;
  font-family: "Satoshi", sans-serif;
  margin: 20px 20px;
  font-weight: 700;
}

.list-title-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-title-line ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-right: 20px;
}
.list-title-line ul li img {
  transition: filter 0.3s linear;
}
.list-title-line ul li:hover img {
  filter: brightness(1.5);
}

.cataloge::-webkit-scrollbar {
  display: none;
}

.cataloge {
  overflow-x: auto;
  display: flex;
  padding: 20px 20px;
  gap: 10px;
  list-style: none;
}
.cataloge img {
  width: 170px;
  height: 170px;
  border-radius: 5px;
  transition: opacity 0.3s linear;
}

.album-description {
  padding-top: 5px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.album-description h3 {
  padding-bottom: 10px;
  font-size: 14px;
  color: #e0e0e0;
  letter-spacing: 3%;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  transition: filter 0.3s linear;
}
.album-description p {
  font-size: 12px;
  font-weight: 300;
  color: #898989;
  font-family: "Satoshi", sans-serif;
  width: 160px;
  transition: filter 0.3s linear;
}

.all-active a {
  background-color: #e0e0e0;
  color: #111111;
}

.cataloge li:hover img {
  opacity: 0.7;
}
.cataloge li:hover p,
.cataloge li:hover h3 {
  filter: brightness(1.9);
}

.favorite-artists img {
  border-radius: 121px;
}
.favorite-artists h3 {
  text-align: center;
}

.audiobooks-foru .cataloge img {
  height: 220px;
}

.podcasts-foru .cataloge li:first-child div {
  background-color: rgba(133, 197, 133, 0.05);
  border-radius: 5px;
  border-left: 4px solid rgba(133, 197, 133, 0.6);
  padding-left: 10px;
}
.podcasts-foru .cataloge li:last-child div {
  background-color: rgba(246, 125, 77, 0.05);
  border-radius: 5px;
  border-left: 4px solid rgba(246, 125, 77, 0.6);
  padding-left: 10px;
}
.podcasts-foru .cataloge li:nth-child(2) div {
  background-color: rgba(241, 206, 188, 0.05);
  border-radius: 5px;
  border-left: 4px solid rgba(241, 206, 188, 0.6);
  padding-left: 10px;
}

.episodes-foru .cataloge li:first-child div {
  background-color: rgba(133, 197, 133, 0.05);
  border-radius: 5px;
  padding-left: 10px;
}
.episodes-foru .cataloge li:last-child div {
  background-color: rgba(246, 125, 77, 0.05);
  border-radius: 5px;
  padding-left: 10px;
}
.episodes-foru .cataloge li:nth-child(2) div {
  background-color: rgba(241, 206, 188, 0.05);
  border-radius: 5px;
  padding-left: 10px;
}

@media (max-width: 500px) {
  main {
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    padding-top: 0;
    background-color: #060606;
    overflow-x: hidden;
  }
  .main-wrapper {
    width: 100%;
    margin: 0 auto;
    border: none;
    margin-bottom: 0;
  }
}
.player {
  z-index: 20;
  background-color: #202020;
  width: 83.5vw;
  height: 80px;
  border-radius: 10px;
  margin: 10px 2px;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 50% 40% 10%;
}
.player.active {
  background-color: #333842;
}
.player.active button {
  background-color: #333842;
}
.player.active button img {
  filter: brightness(1.5);
}
.player.active #playBtn img {
  content: url("/assets/icons/player/player-go.png");
}
.player button {
  background-color: #202020;
  border: none;
  cursor: pointer;
}
.player button img {
  transition: filter 0.3s linear;
}
.player button:hover img {
  filter: brightness(1.5);
}

.audio-settings {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#playBtn img {
  filter: none;
}

.player-song-cover {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
}
.player-song-cover h4 {
  color: #e0e0e0;
}
.player-song-cover p {
  color: #898989;
}
.player-song-cover img {
  width: 51px;
  height: 51px;
  border-radius: 5px;
}
.player-song-cover {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-song {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-last-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-song-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .player {
    bottom: 150px;
  }
}
.main-wrapper-for-friends {
  width: 60vw;
  margin-left: 3px;
  border-radius: 5px;
  border: 3px solid #111111;
  margin-bottom: 100px;
}

.right-aside {
  width: 22vw;
  border: 3px solid #111111;
  border-radius: 5px;
  height: calc(100vh - 155px);
  position: fixed;
  right: 2.5vw;
  top: 55px;
  font-family: "Satoshi", sans-serif;
  color: #e0e0e0;
  font-size: 14px;
}

.friends-activity {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.friends-activity-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.friends-activity-icons a img {
  transition: filter 0.3s linear;
}
.friends-activity-icons a:hover img {
  filter: brightness(1.5);
}

.friends-list ul {
  margin: 30px 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.friends-list ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.friends-list ul li .friends-activity-description {
  display: flex;
  align-items: center;
  gap: 10px;
}
.friends-list h5 {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 5px;
}
.friends-list p,
.friends-list span {
  font-size: 14px;
  font-weight: 300;
}
.friends-list span {
  color: #898989;
}

.search-active {
  background-color: #111111;
  color: #898989;
}

.main-wrapper h4 {
  font-size: 18px;
}

.cataloge .color-box {
  border-radius: 10px;
}
.cataloge .color-box div {
  overflow: hidden;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  position: relative;
}
.cataloge .color-box div h3 {
  position: absolute;
  z-index: 10;
  font-size: 20px;
  font-family: "Satoshi", sans-serif;
  letter-spacing: 3%;
  color: #ffffff;
  width: 80%;
  top: 20px;
  margin: 0 20px;
  padding: 0 0;
  transition: background-color 0.3s linear, margin 0.3s linear, top 0.3s linear;
}
.cataloge .color-box div img {
  z-index: 1;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  rotate: 30deg;
  position: absolute;
  bottom: -20px;
  right: -10px;
  transition: rotate 0.3s linear, width 0.3s linear, height 0.3s linear, bottom 0.3s linear, right 0.3s linear, border-radius 0.3s linear;
}
.cataloge .color-box div:hover img {
  rotate: 0deg;
  width: 174px;
  height: 174px;
  bottom: -2px;
  right: -3px;
  border-radius: 10px;
  opacity: 1;
}
.cataloge .color-box div:hover h3 {
  width: 170px;
  height: 60px;
  padding: 5px 2px;
  background: linear-gradient(to right, var(--card-color), var(--card-color), rgba(255, 255, 255, 0.01));
  opacity: 0.8;
  filter: none;
  top: 110px;
  margin: 0 0;
}

.resent-searches .list-title-line img {
  padding-right: 20px;
}

.research-cataloge {
  padding-left: 20px;
  display: flex;
  list-style: none;
  gap: 20px;
}
.research-cataloge li:nth-child(2) img:first-child,
.research-cataloge li:first-child img:first-child {
  border-radius: 121px;
}
.research-cataloge li:last-child img:first-child {
  border-radius: 7px;
}
.research-cataloge li:last-child div {
  text-align: start;
}
.research-cataloge li:last-child div p {
  color: #898989;
}
.research-cataloge li {
  position: relative;
}
.research-cataloge li div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  color: #e0e0e0;
  font-weight: 300;
  letter-spacing: 3%;
}

.cancel-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  border-radius: 100px;
}
.cancel-icon img {
  transition: transform 0.3s linear;
}
.cancel-icon:hover img {
  transform: scale(1.1);
}
.cancel-icon:hover {
  filter: brightness(1.5);
}

.menu-buttons-library, .menu-buttons-library-liked {
  padding: 20px 20px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.menu-buttons-library li, .menu-buttons-library-liked li {
  display: flex;
  align-items: center;
  transition: filter 0.3s linear;
}
.menu-buttons-library li:hover, .menu-buttons-library-liked li:hover {
  filter: brightness(1.5);
}
.menu-buttons-library span, .menu-buttons-library-liked span {
  color: #898989;
  font-size: 14px;
  font-family: "Satoshi", sans-serif;
}
.menu-buttons-library .add-icon, .menu-buttons-library-liked .add-icon {
  margin-left: auto;
}

.sidebar-active {
  background-color: #111111;
}

.library-cataloge-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  gap: 8px;
  row-gap: 50px;
  list-style: none;
}
.library-cataloge-list img {
  width: 170px;
  height: 170px;
  border-radius: 5px;
  transition: opacity 0.3s linear;
}
.library-cataloge-list .pin-icon {
  width: 40px;
  height: 40px;
}

.library-cataloge-list-card h3 {
  padding-bottom: 10px;
  font-size: 14px;
  color: #e0e0e0;
  letter-spacing: 3%;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  transition: filter 0.3s linear;
}
.library-cataloge-list-card p {
  font-size: 12px;
  font-weight: 300;
  color: #898989;
  font-family: "Satoshi", sans-serif;
  width: 95%;
  transition: filter 0.3s linear;
}
.library-cataloge-list-card {
  width: 170px;
  position: relative;
}
.library-cataloge-list-card .pin-icon {
  position: absolute;
  top: -7px;
  right: 0;
  transition: rotate 0.3s linear;
}
.library-cataloge-list-card:hover h3,
.library-cataloge-list-card:hover p {
  filter: brightness(1.5);
}
.library-cataloge-list-card:hover .pin-icon {
  rotate: -45deg;
  opacity: 1;
}
.library-cataloge-list-card:hover img {
  opacity: 0.8;
}

.round-card img {
  border-radius: 121px;
}
.round-card h3 {
  text-align: center;
}

.menu-buttons-library-liked {
  justify-content: flex-end;
}
.menu-buttons-library-liked .liked-add-icon {
  margin-right: auto;
}

.liked-song-title {
  display: flex;
  flex-direction: column;
  display: inline-block;
  padding-left: 15px;
}

.thead {
  border-bottom: 3px solid #898989;
}
.thead th {
  padding-bottom: 10px;
  padding-right: 300px;
  font-weight: 300;
}
.thead .table-number {
  padding-right: 10px;
}

.song-table {
  border-collapse: collapse;
  margin: 0 30px;
  color: #898989;
  font-family: "Satoshi", sans-serif;
}
.song-table img {
  border-radius: 5px;
  transition: filter 0.3s linear, opacity 0.3s linear;
}
.song-table img:hover {
  filter: brightness(1.5);
  opacity: 0.5;
}
.song-table tr {
  padding: 20px 0;
}

.duration {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main-wrapper table {
  border-collapse: separate;
  border-spacing: 0 40px;
}

.discover-active {
  background-color: #111111;
}

.buttons-for-discover {
  background-color: rgba(6, 6, 6, 0.8);
}
.buttons-for-discover a {
  background-color: #111111;
  color: #e0e0e0;
}

.wrapper-for-discover {
  background: linear-gradient(to bottom, rgba(140, 216, 204, 0.14), rgba(149, 17, 190, 0.14), rgba(255, 82, 2, 0.14), rgba(36, 40, 97, 0.14));
}

.music-active a {
  background-color: #e0e0e0;
  color: #1a1a1a;
}

.discover-cataloge {
  padding-top: 50px;
  padding-bottom: 80px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
.discover-cataloge li {
  display: flex;
  gap: 50px;
  align-items: center;
}

.discover-theme {
  width: 390px;
  height: 610px;
  position: relative;
}
.discover-theme-cover {
  width: 390px;
  height: 610px;
  border-radius: 10px;
}

.theme-arrows {
  width: 390px;
  position: absolute;
  bottom: 50%;
  display: flex;
  justify-content: center;
  gap: 300px;
}
.theme-arrows img {
  transition: filter 0.3s linear, transform 0.3s linear;
}
.theme-arrows img:hover {
  filter: brightness(1.5);
  transform: scale(1.5);
}

.discover-music-info {
  display: flex;
  gap: 10px;
  width: 550px;
}
.discover-music-info-cover {
  width: 184px;
  height: 184px;
  border-radius: 5px;
  transition: opacity 0.3s linear;
}
.discover-music-info-cover:hover {
  opacity: 0.6;
}
.discover-music-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Satoshi", sans-serif;
  color: #e0e0e0;
}
.discover-music-info-text .spotify-title {
  color: #e0e0e0;
}
.discover-music-info-text p,
.discover-music-info-text span {
  color: #898989;
}
.discover-music-info-text-button span {
  padding: 5px 10px;
  border-radius: 44px;
  border: 2px solid #898989;
  margin-right: 15px;
  transition: filter 0.3s linear;
}
.discover-music-info-text-button span:hover {
  filter: brightness(1.5);
}

.discover-music-buttons {
  display: flex;
  gap: 5px;
  align-items: center;
}
.discover-music-buttons img {
  transition: filter 0.3s linear;
}
.discover-music-buttons img:hover {
  filter: brightness(1.5);
}

@media (min-width: 500px) {
  footer {
    display: none;
  }
}
.footer {
  width: 100vw;
  height: 95px;
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.85), #111111);
  position: fixed;
  bottom: 0;
}

.footer-menu {
  height: 95px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
.footer-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #898989;
  font-size: 12px;
  font-family: "Satoshi", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
