@use "./homepage/header.scss";
@use "./homepage/aside";
@use "./homepage/mainbox.scss";
@use "./homepage/player";
@use "./friends-aside/friends";
@use "./search/search";
@use "./library/library.scss";
@use "./library/library-likes.scss";
@use "./discover/discover.scss";
@use "./homepage/footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
