@use "./homepage/header.scss";
@use "./homepage/aside";
@use "./homepage/mainbox.scss";
@use "./homepage/player";
@use "./friends-aside/friends";
@use "./search/search";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.test {
  height: 1090px;
}
