@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;
@media (min-width: 500px) {
  footer {
    display: none;
  }
}
.footer {
  width: 100vw;
  height: 95px;
  background-image: linear-gradient(to bottom, rgba(#111111, 0.85), #111111);
  position: fixed;
  bottom: 0;
}
.footer-menu {
  height: 95px;
  list-style: none;
  @include flex(center, space-evenly, 0);
  a {
    @include flex(center, center, 0);
    flex-direction: column;
    color: $ft-color;
    font-size: $ft-font-size;
    font-family: $main-font;
  }
}
