@use "../abstracts/variables.scss" as *;
$hover-background-color: #323232;
@mixin hover-selected-style {
  color: $menu-text-hover;
  background-color: $hover-background-color;
}
header {
  background-color: $bg-main;
  display: grid;
  grid-template-columns: 15vw 1fr 15vw;
  grid-template-rows: 55px;
  align-items: center;
  a {
    height: 45px;
    color: $menu-text-primary;
    font-size: $font-size-primary;
    display: flex;
    align-items: center;

    gap: 10px;

    padding-left: 15px;
    padding-right: 80px;
    border-radius: 5px;
    transition:
      background-color 0.3s linear,
      color 0.3s linear;

    &:hover {
      background-color: $hover-background-color;
      @if $hover-background-color == #323232 {
        color: $menu-text-hover;
      } @else {
        color: $menu-text-primary;
      }
    }
  }
}

.library {
  margin-left: 15px;
}
.navigation {
  margin-left: 5px;
  display: flex;
  gap: 5px;
  .search {
    padding-right: 300px;
  }
}
//hovers for icon changes
.library:hover {
  img {
    content: url("/assets/icons/header/hovers/library.png");
  }
}
.home:hover {
  img {
    content: url("/assets/icons/header/hovers/home.png");
  }
}
.discover:hover {
  img {
    content: url("/assets/icons/header/hovers/discover.png");
  }
}
.search:hover {
  img {
    content: url("/assets/icons/header/hovers/search.png");
  }
}
//selected icon changes

.library.selected {
  @include hover-selected-style;
  img {
    content: url("/assets/icons/header/selected/library.png");
  }
}

.home.selected {
  @include hover-selected-style;
  img {
    content: url("/assets/icons/header/selected/home.png");
  }
}
.discover.selected {
  @include hover-selected-style;
  img {
    content: url("/assets/icons/header/selected/discover.png");
  }
}
.search.selected {
  @include hover-selected-style;
  img {
    content: url("/assets/icons/header/selected/search.png");
  }
}
.top-buttons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  .friends {
    &:hover {
      img {
        content: url("/assets/icons/header/selected/friends.png");
      }
    }
  }
}
