@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;
.discover-active {
  background-color: $hover-background-color;
}
.buttons-for-discover {
  background-color: rgba($bg-main, 0.8);
  a {
    background-color: $hover-background-color;
    color: $text-color-discover;
  }
}
.wrapper-for-discover {
  background: linear-gradient(
    to bottom,
    rgba($bg-discover, 0.14),
    rgba(rgb(149, 17, 190), 0.14),
    rgba(rgb(255, 82, 2), 0.14),
    rgba(rgb(36, 40, 97), 0.14)
  );
}
.music-active {
  a {
    background-color: $menu-text-hover;
    color: $music-button-color;
  }
}
.discover-cataloge {
  padding-top: 50px;
  padding-bottom: 80px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  li {
    display: flex;
    gap: 50px;
    align-items: center;
  }
}
.discover-theme {
  width: 390px;
  height: 610px;
  position: relative;
  &-cover {
    width: 390px;
    height: 610px;
    border-radius: 10px;
  }
}
.theme-arrows {
  width: 390px;
  position: absolute;
  bottom: 50%;
  display: flex;
  justify-content: center;
  gap: 300px;
  img {
    transition:
      filter 0.3s linear,
      transform 0.3s linear;
    &:hover {
      filter: brightness(1.5);
      transform: scale(1.5);
    }
  }
}
.discover-music-info {
  display: flex;
  gap: 10px;

  width: 550px;
  &-cover {
    width: 184px;
    height: 184px;
    border-radius: 5px;
    transition: opacity 0.3s linear;
    &:hover {
      opacity: 0.6;
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $main-font;
    color: $list-title-color;
    .spotify-title {
      color: $list-title-color;
    }
    p,
    span {
      color: $menu-text-primary;
    }
    &-button {
      span {
        padding: 5px 10px;
        border-radius: 44px;
        border: 2px solid $menu-text-primary;
        margin-right: 15px;
        transition: filter 0.3s linear;
        &:hover {
          filter: brightness(1.5);
        }
      }
    }
  }
}
.discover-music-buttons {
  display: flex;
  gap: 5px;
  align-items: center;
  img {
    transition: filter 0.3s linear;
  }

  img:hover {
    filter: brightness(1.5);
  }
}
