@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;
@use "./library.scss";
.menu-buttons-library-liked {
  @extend .menu-buttons-library;
  justify-content: flex-end;
  .liked-add-icon {
    margin-right: auto;
  }
}
.thead {
  border-bottom: 3px solid $p-color;

  th {
    padding-bottom: 10px;
    font-weight: $font-weight-light;
  }
}
.song-table {
  border-collapse: collapse;
  margin: 50px 30px;
  color: $p-color;
  font-family: $main-font;
}
