$bg-main: #060606;
$menu-text-primary: #898989;
$menu-text-hover: #e0e0e0;
$font-size-primary: 14px;

// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
