$bg-main: #060606;
$menu-text-primary: #898989;
$menu-text-hover: #e0e0e0;
$font-size-primary: 14px;
$hover-background-color: #111111;
$main-font: "Satoshi", sans-serif;
$list-title-color: #e0e0e0;
$list-title-size: 20px;
$p-size: 12px;
$p-color: #898989;
//player
$player-bg: #202020;
$player-bg-active: #333842;
// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
//friends
$friends-text-color: #e0e0e0;
$friends-text-hover: #898989;
